


/* RESET GENERAL */
* {
    box-sizing: border-box;    /* Hace que el padding y border no aumenten el tamaño real */
}

/* HEADER */

 

/* BODY */
body {
    margin: 0;
    /* Elimina márgenes automáticos */
    font-family: Arial;
    /* Fuente principal */
    background-color: #F5F1E9;
    /* Color de fondo */
    height:100%; /*Altura*/
    width:100%;    
}

/* CONTENEDOR PRINCIPAL */
.main-container {
    display: flex;
    /* Activa flexbox */
    justify-content: flex-end;
    /* Mueve el formulario a la derecha */
    align-items: center;
    /* Centra verticalmente */
    padding-top: 60px;
    /* Espacio arriba */
    padding-bottom: 60px;
    /* Espacio abajo */
    padding-right: 180px;
    /* Separación desde la derecha */
    padding-left: 20px;
    /* Separación desde la izquierda */
    min-height: 85vh;
    /* Altura mínima de pantalla */
}

/* CONTENEDOR GENERAL */
.cuadro-registro {
    width: 90%;    /* Ancho general */
    background-color: #E5D7CC;    /* Fondo del cuadro */
    padding: 40px;    /* Espaciado interno */
    border-radius: 20px;    /* Bordes redondeados */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);    /* Sombra suave */
    display: flex;    /* Divide imagen y formulario */
    justify-content: space-between;    /* Espacio entre ambos lados */
    align-items: center;    /* Centra verticalmente */
    gap: 40px;    /* Espacio entre columnas */
}

/* FORMULARIO */
.contenido-formulario {
    width: 420px;    /* Ancho fijo del formulario */
}

/* LADO IZQUIERDO */
.lado-decorativo {
    flex: 1;          /* Ocupa el espacio restante */
    display: flex;    /* Activa flexbox */
    justify-content: center;    /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
}

/* CONTENEDOR DE LA TAZA */
.tasa-animado {
    animation: bajarTaza 1.5s ease-out forwards,        /* Animación de entrada */
                flotarTaza 3s ease-in-out infinite alternate;    /* Movimiento infinito */
                animation-delay: 0s, 1.5s;    /* La flotación empieza luego */
}

/* IMAGEN */
.tasa-animado img {
    width: 500px;
    /* Tamaño de la taza */
    filter:
        drop-shadow(0 10px 20px rgba(0, 0, 0, 0.15));
    /* Sombra de la imagen */
}

/* ANIMACION DE ENTRADA */
@keyframes bajarTaza {
    0% {
        opacity: 0;
        /* Invisible */
        transform:
            translateY(-300px) scale(0.7);
        /* Empieza arriba */
    }

    70% {

        opacity: 1;
        /* Aparece */

        transform:
            translateY(20px) scale(1.05);
        /* Rebote */
    }

    100% {

        opacity: 1;

        transform:
            translateY(0) scale(1);
        /* Posición final */
    }
}

/* FLOTACION */
@keyframes flotarTaza {
    0% {
        transform: translateY(0px);        /* Posición inicial */
    }
    100% {
        transform: translateY(-12px);        /* Sube ligeramente */
    }
}

/* TITULO */
.titulo-registro {
    overflow: hidden;    /* Oculta letras sobrantes */
    border-right: 3px solid #26382E;
    /* Cursor */
    white-space: nowrap;
    /* Evita salto de línea */
    margin: 0 auto 25px auto;
    /* Centra el título */
    letter-spacing: 4px;
    /* Espaciado entre letras */
    width: 14ch;
    /* Cantidad visible */
    animation:
        maquina 2s steps(11) forwards,        /* Escribe letra por letra */
        parpadeoCursor 0.75s step-end infinite;   /* Cursor parpadeante */
}

/* MAQUINA DE ESCRIBIR */
@keyframes maquina {
    from {
        width: 0;        /* Empieza vacío */
    }
    to {
        width: 14ch;        /* Texto completo */
    }
}

/* CURSOR */
@keyframes parpadeoCursor {

    from,
    to {
        border-color: transparent;
        /* Invisible */
    }

    50% {
        border-color: #26382E;        /* Visible */
    }
}


/* CAMPOS */
.campo {
    margin-bottom: 15px;    /* Espacio entre campos */
}

/* LABELS */
.etiqueta {

    font-weight: bold;
    /* Negrita */

    display: block;
    /* Ocupa línea completa */

    margin-bottom: 8px;
    /* Espacio debajo */

    color: #26382E;
    /* Color del texto */
}

/* INPUTS */
.input-form {

    width: 100%;
    /* Ocupa todo el ancho */

    padding: 15px;
    /* Espacio interno */

    border-radius: 10px;
    /* Bordes redondeados */

    border: 2px solid transparent;
    /* Borde invisible */

    background-color: #F5F1E9;
    /* Fondo claro */

    box-shadow:
        0px 2px 2px rgba(0, 0, 0, 0.1);
    /* Sombra */

    transition:

        border .3s ease-in-out,
        /* Transición del borde */

        transform .3s ease;
    /* Transición del tamaño */

    outline: none;
    /* Elimina borde azul */
}

/* FOCUS */
.input-form:focus {

    border-color: #8FAF9C;
    /* Color del borde */

    transform: scale(1.02);
    /* Agranda ligeramente */
}

/* PLACEHOLDER */
.input-form::placeholder {

    font-size: 0.9rem;
    /* Tamaño del texto interno */
}


/* BOTON */
.boton-enviar {
    width: 100%;
    /* Ancho completo */

    background-color: #A2B5A4;
    /* Fondo inicial */

    color: black;
    /* Color del texto */

    padding: 14px;
    /* Espacio interno */

    border: none;
    /* Elimina borde */

    border-radius: 15px;
    /* Bordes redondeados */

    cursor: pointer;
    /* Cursor mano */

    position: relative;
    /* Necesario para before */

    overflow: hidden;
    /* Oculta exceso */

    z-index: 1;
    /* Texto encima */

    font-size: 1rem;
    /* Tamaño del texto */

    font-weight: bold;
    /* Negrita */

    transition:

        color .3s ease,
        /* Transición color */

        transform .3s ease;
    /* Transición movimiento */
}

/* CAPA ANIMADA */
.boton-enviar::before {
    content: "";
    /* Crea capa vacía */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d6d5d;    /* Color de animación */
    transform: scaleX(0);    /* Empieza oculto */
    transform-origin: left;    /* Sale desde izquierda */
    transition: transform 0.3s ease-in-out;    /* Velocidad */
    z-index: -1;    /* Detrás del texto */
}

/* HOVER BEFORE */
.boton-enviar:hover::before {

    transform: scaleX(1);
    /* Expande la capa */
}

/* HOVER BOTON */
.boton-enviar:hover {

    color: white;
    /* Texto blanco */

    transform: translateY(-2px);
    /* Levanta el botón */
}

/* LAPTOPS */
@media (max-width:1024px){
    /* CONTENEDOR PRINCIPAL */
    .main-container{
        padding-right:80px;        /* Reduce espacio derecho */
        padding-left:30px;
    }

    /* CUADRO GENERAL */
    .cuadro-registro{
        width:95%;        /* Más ancho */
        padding:30px;
        gap:30px;        /* Menos separación */
    }

    /* FORMULARIO */
    .contenido-formulario{
        width:380px;        /* Reduce ancho */
        text-align:left;        /* Texto alineado a la izquierda */
    }

    /* TAZA */
    .tasa-animado img{
        width:250px;        /* Reduce tamaño */
    }

    /* TITULO */
    .titulo-registro{
        font-size:1.8rem;
    }

    /* INPUTS */
    .input-form{
        padding:13px;
    }

    /* BOTON */
    .boton-enviar{
        font-size:0.95rem;
        padding:13px;
    }
}

/* TABLETS */
@media (max-width:768px){
    /* HEADER */
    

    /* CONTENEDOR PRINCIPAL */
    .main-container{
        justify-content:center;        /* Centra el formulario */
        padding:40px 20px;
    }

    /* CUADRO GENERAL */
    .cuadro-registro{
        flex-direction:column;        /* Imagen arriba y formulario abajo */
        width:100%;
        padding:30px;
        gap:20px;
        text-align:center;
    }
    /* FORMULARIO */
    .contenido-formulario{
        width:100%;
        text-align:left;        /* Texto alineado a la izquierda */
    }
    /* TAZA */
    .tasa-animado img{
        width:300px;
    }
    /* TITULO */
    .titulo-registro{
        font-size:1.6rem;
    }
    /* INPUTS */
    .input-form{
        padding:14px;
    }
    /* BOTON */
    .boton-enviar{
        width:100%;
    }
}

/* CELULARES */
@media (max-width:480px){
    /* HEADER */
    

    /* CONTENEDOR PRINCIPAL */
    .main-container{
        padding:25px 12px;
        min-height:auto;
    }

    /* CUADRO GENERAL */
    .cuadro-registro{
        width:100%;
        padding:20px;
        border-radius:15px;
        gap:15px;
    }

    /* FORMULARIO */
    .contenido-formulario{
        width:100%;
    }
    /* TAZA */
    .tasa-animado img{
        width: 150px;       /* Taza más pequeña */
        text-align:left;        /* Texto alineado a la izquierda */
    }
    /* TITULO */
    .titulo-registro{
        font-size:1.3rem;
        letter-spacing:2px;
    }
    /* LABELS */
    .etiqueta{
        font-size:0.9rem;
    }
    /* INPUTS */
    .input-form{
        padding:12px;
        font-size:0.9rem;
    }
    /* PLACEHOLDER */
    .input-form::placeholder{
        font-size:0.8rem;
    }
    /* BOTON */
    .boton-enviar{
        font-size:0.9rem;
        padding:12px;
    }
}